body{
    margin:0px;
    background-color: rgba(248, 248, 248, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner{
    background-color: rgb(240, 69, 47);
    display: flex;
    flex-direction: row;
    height: 11.2mm;
    box-shadow: 0px 1.5px 2px rgb(192, 191, 191);
    align-content: stretch;
}
.banner p{
    color: white;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 1.6em;
}

.loginForm{
    margin-left: 784px;
    margin-top: 4.8px;
    align-items: flex-end;
}
.loginForm input{
    margin-top: 0.8px;
    margin-right: 3px;
    border-radius: 5px;
    height: 27.6px;
    width: 170px;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 1.5px rgb(221, 221, 221) inset;

}
.loginForm input[type=submit]{
    width: 64px;
    height: 29px;
    border: 0.5px rgb(235, 235, 235) outset;
    margin-left: 5px;
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
}



.subBanner{
    display:flex;
    flex-direction:row;
}
.subBanner p{
    font-size: 1.4em;
    color: rgb(173, 173, 173);
    margin-left: 25px;
}
#currentDate{
    color: lightgray;
    text-transform: uppercase;
}
.subBanner #title{
    margin-right: 460px;
}



#pageBody{
    display: flex;
    flex-direction: row;
}



.leftBar{
    width:352px;
}
.leftBar div{
    margin-left: 20px;
    margin-right: 30px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(236, 235, 235);
    color:rgb(182, 179, 179);
    font-size: 0.9em;
    border: 0.2px solid rgb(221, 221, 221);
    margin-bottom: 23px;   
}
.leftBar div .scrollPic{
    margin-left: 25px;
    margin-right: 976px;
    background-color: white;
    box-shadow: 0px 0px 0px rgb(219, 219, 219);
    color:rgb(182, 179, 179);
    font-size: 0.9em;
    border: 0.2px solid rgb(207, 207, 207);
    margin-bottom: 26px;   
}
.leftBar div p{
    margin-left: 20px;
}
.leftBar .ad .scrollPic img{
    height: 200px;
    width: 268px;
}
.scrollPic{
    width: 260px;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
}
#menuSiteNews img{
    height: 17px;
    width: 17px;
    margin-right:5px;
}
#menuSiteNews{
    color: red;
    display: flex;
    flex-direction: row;
}
#navSpeaker{
    border-radius: 2px;
    margin-left: 8px;
    margin-top: 8px;
    margin-right:8px;
}
#navDiv p{
    color: red;
}
#navDiv #home{
    margin-bottom: 5px;
}
#navDiv p img{
    height: 17px;
    width:17px;
}




.pageMiddle{
    display:flex;
    flex-direction: column;
    width: 600px;
}
.pageMiddle #courseCategories p{
    font-size:1.7em;
    color: black;
    text-transform: capitalize;
}
.pageMiddle hr{
    height: 3px;
    border: 2px solid rgba(248, 248, 248, 0.979);
    border-radius: 38%;
    box-shadow: 1px 1.1px 1.1px rgb(231, 231, 231) inset;
}
.pageMiddle p{
    text-transform: uppercase;
    color: red;
    font-size: 0.9em;
}
.pageMiddle img{
    height: 17px;
    width:17px;
}
.pageMiddle #viewmore{
    margin-left: 17px;
    font-size: 0.7em;
    text-transform: unset;
}
.pageMiddle form{
    margin-left: 30%;
}
.pageMiddle form p{
    text-transform: unset;
    color: black;
    font-size: 0.8em;
}
.pageMiddle form input{
    border-radius: 6px;
    border: 1px solid rgb(194, 193, 193);
    box-shadow: 1px 1px 1.5px rgb(211, 211, 211) inset;
    width: 200px;
    height: 30px;
}
.pageMiddle form input[type=submit]{
    width: 50px;
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    margin-left: 3px;
}